CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y

CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=""

CONFIG_IPQ_MEM_PROFILE_512=y
CONFIG_KERNEL_IPQ_MEM_PROFILE=512

CONFIG_NSS_FIRMWARE_VERSION_12_2=y

CONFIG_LUCI_LANG_zh_Hans=m

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_mtr-json=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_ifstat=y
CONFIG_PACKAGE_iftop=y
CONFIG_PACKAGE_iperf=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_iperf3-ssl=y
CONFIG_PACKAGE_arp-scan-database=y
CONFIG_PACKAGE_arp-scan=y

CONFIG_PACKAGE_luci-app-upnp=m
CONFIG_PACKAGE_luci-app-homeproxy=m
CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_sqm-scripts=m

CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-commands=m
CONFIG_PACKAGE_luci-app-uhttpd=m
CONFIG_PACKAGE_luci-app-acme=m

CONFIG_PACKAGE_tailscale=m
CONFIG_PACKAGE_luci-app-tailscale-community=m
CONFIG_PACKAGE_luci-app-https-dns-proxy=m
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-sshtunnel=m

CONFIG_PACKAGE_luci-app-argon-config=m
CONFIG_PACKAGE_luci-theme-material=m
CONFIG_PACKAGE_luci-theme-openwrt=m
CONFIG_PACKAGE_luci-theme-openwrt-2020=m
